footer.footer {
    background-color:  var(--fontcolor_secondary);
    padding: 4rem 0 2rem 0;
    color: #fff;
	display: flex;
    flex-flow: column;
    /* position: fixed; */
    bottom: 0;
}

.footer_container {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
}

.flex_test {
    width: 50%;
}


.icon_mods {
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 100%;
    font-size: 50px;
}

hr.article_bottom {
    border-top: 1.5px dotted #1d288a; 
} 


.copyright_text {
    margin: 0;
}

