@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Press+Start+2P&display=swap');
.product {
    width: 300px;
    padding: 1rem;
    background: var(--color-additional);
    /* cursor: pointer; */
    box-shadow: 0 1px 4px rgba(226, 98, 194, 0.4);
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p.info {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5vh;
}

.product > img {
    height: 230px;
    width: auto;
    border-radius: 7px;
}

.product > img:hover {
    height: 300px;
    width: auto;
}

.product_deets > p {
    margin-bottom: 10px;
    /* font-family: 'Press Start 2P', cursive; */
    color: #171b33de;
    
}

.product_color {
    font-weight: 600;
}
.product_price {
    font-weight: bolder;
    font-family: 'Potta One', cursive;
}


.rarity_level {
    font-weight: 600;
}

.rarity_level:hover {
    font-weight: 600;
    color: goldenrod;
    cursor:crosshair;
}

.description {
    font-size: 0.8rem;
    font-family: 'Potta One', cursive;
    color: var(--color-primary);
}


.info_button {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: var(--fontcolor_additional);
    background-color: #3d44bab3;
    padding: 8px 16px;
    border: 2px dashed #7274ec;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    cursor: crosshair;
}
/* make a not here to find out what info name means */

.info_button:hover {
    background: #70c1ff;
    color: #ffffff;
}

@media (max-width: 1232px) {
    .product {
        width: 360px;
    }
}

@media (max-width: 1115px) {
    .product {
        width: 320px;
    }
}

@media (max-width: 1028px) {
    .product {
        width: 300px;
    }
}

@media (max-width: 950px) {
    .product {
        width: 400px;
    }
}

@media (max-width: 830px) {
    .product {
        width: 350px;
    }
}

@media (max-width: 700px) {
    .product {
        width: 290px;
    }
}

@media (max-width: 630px) {
    .product {
        width: 400px;
    }
}

@media (max-width: 400px) {
    .product {
        width: 300px;
    }
}
